@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  background-color: #f5fcf8; /* Light background color */
  color: #333; /* Dark text for readability */
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0; /* Fix it at the top */
  left: 0; /* Ensure it stays within the page */
  width: 100%; /* Full width */
  height: 64px; /* Fixed height for navbar */
  z-index: 1000; /* Ensure it stays on top of other elements */
}
