body {
  background-color: #fff;
  overflow-x: hidden;
}

.quiz-info-container {
  margin-top: 24px;
  width: 740px;
}

.quiz-title {
  font-size: 28px;
  margin-bottom: 8px;
}

.quiz-sub-title {
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
  color: rgb(105, 106, 105);
  font-size: 18px;
}

.questions-container {
  margin-top: 24px;
  padding: 8px 0;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-text {
  font-size: 20px;
}

.add-question-icon {
  cursor: pointer;
}

.action-container {
  position: relative;
  /* display: inline-block; */
}

.tooltip-text {
  position: absolute;
  top: 0;
  visibility: hidden;
  padding: 12px;
  background-color: #fff;
  color: grey;
  border: 1px solid grey;
  text-align: center;
  border-radius: 5px;
  margin-top: 8px; /* Adds space between the button and the tooltip text */
  opacity: 0;
  transition: opacity 0.3s;
  transform: translate(-40%, 60%);
}

.action-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  z-index: 99999999;
}

.questions-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 18px;
}

.question-section {
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 20px 24px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  border: 1px solid rgb(225, 235, 229);
  box-shadow: rgba(15, 78, 39, 0.08) 0px 2px 4px 0px;
  margin-bottom: 0px;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for border and shadow */
}

.question-section:hover {
  border-color: grey; /* Change border color on hover */
}
.correct-answer {
  font-feature-settings: "kern";
  cursor: pointer;
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  overflow-wrap: break-word;
  border-color: var(--chakra-colors-chakra-border-color);
  display: flex;
  padding: 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.answer-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px;
}

.questions-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.action-container {
  position: relative;
  /* display: inline-block; */
}

.tooltip-text {
  position: absolute;
  top: 0;
  visibility: hidden;
  padding: 12px;
  background-color: #fff;
  color: grey;
  border: 1px solid grey;
  text-align: center;
  border-radius: 5px;
  margin-top: 8px; /* Adds space between the button and the tooltip text */
  opacity: 0;
  transition: opacity 0.3s;
  transform: translate(-40%, 60%);
}

.action-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  z-index: 99999999;
}

@media (max-width: 768px) {
  .quiz-info-container {
    width: 90vw;
  }
}
